<!DOCTYPE html>
<html>
<head>
  <title>Indico Security</title>
  <link rel="stylesheet" href="/css/normalize.css"/>
  <link rel="stylesheet" href="/css/reset.css"/>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="/css/materialize.min.css"/>
  <link rel="stylesheet" href="/css/main.css"/>
  <!-- your own minifed css -->
</head>
<body>
<div id="content"></div>


<!-- React latest-->
<script src="/js/jquery.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/bundle.js"></script>
<script src="/js/materialize.min.js"></script>

</body>
</html>
